<div [@routerTransition]>
	<app-page-header [heading]="'Registro de instrumentos'" [icon]="'fa-edit'"></app-page-header>

	<div class="row">
		<div class="col-lg-6">

			<form role="form" (ngSubmit)="register()">

				<fieldset class="form-group">
					<label>Instrumento</label>
					<ng-select [multiple]="false" [options]="instruments" name="instrumentsSelect" [(ngModel)]="selectedInstrument">
					</ng-select>
				</fieldset>

				<fieldset class="form-group">
					<label>Patrimonio</label>
					<ng-select [multiple]="false" [options]="patrimony" name="patrimonySelect" [(ngModel)]="selectedPatrimony">
					</ng-select>
				</fieldset>

				<fieldset class="form-group">
					<label>Número de serie</label>
					<input class="form-control" [(ngModel)]="serial" name="serial">
				</fieldset>

				<fieldset class="form-group">
					<label>Precio</label>
					<input class="form-control" [(ngModel)]="price" name="price">
				</fieldset>

				<fieldset class="form-group">
					<label>Modelo</label>
					<input class="form-control" [(ngModel)]="model" name="model">
				</fieldset>

				<fieldset class="form-group">
					<label>Color</label>
					<input class="form-control" [(ngModel)]="color" name="color">
				</fieldset>


				<button type="submit" class="btn btn-secondary">Registrar</button>
                <button type="reset" class="btn btn-secondary">Reiniciar</button>



			</form>

		</div>
	</div>
	<!-- /.row -->
</div>
