<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#inicio">Inicio</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#agrupaciones">Agrupaciones</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contacto">Contacto</a>
          </li>
        </ul>
        <p class="copyright text-muted small">
          SINEM Mata de Plátano &copy; 2016
          <script>
            new Date().getFullYear() > 2010 && document.write("-" + new Date().getFullYear());
          </script>
          , Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
