    <!-- Header -->
    <a name="inicio"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Simapla Digital</h1>
                        <h3>SINEM Mata de Plátano</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://www.facebook.com/sinemmataplatano" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="http://www.sinem.go.cr/" class="btn btn-default btn-lg"><i class="fa fa-asterisk fa-fw"></i> <span class="network-name">SINEM Nacional</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="agrupaciones"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Orquesta Pilar Jiménez</h2>
                    <p class="lead">Es el conjunto principal de la sede, incluyendo gran variedad de instrumentos de viento, de madera y percusión. Tiene un repertorio basado en grandes compositores e integrantes de edades entre 12 y 21.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/pilarJimTeatro.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-b">

        <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Camerata</h2>
                        <p class="lead">La agrupación de la camerata interpreta música de cámara arreglada para violines, violas, violoncellos y contrabajos. Una de sus principales presentaciones, son las 4 estaciones de Vivaldi.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="img/camerata.png" alt="">
                    </div>
                </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-c">
        <div class="container">
            <div class="row">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Ubicación de la sede</h2>
                <!-- Map -->
                  <section id="mapa" class="map" heigth="400">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d826.130802424886!2d-84.01507357079676!3d9.953706836313776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e6a7250e4831%3A0x87a3c351875d623b!2sSinem+Mata+De+Platano!5e0!3m2!1ses-419!2scr!4v1491626895672" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </section>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-c -->


    <a  name="contacto"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <h2>Contáctenos:</h2>
                </div>
                <div class="col-lg-8">
                    <form role="form">
                        <div class="form-group">
                            <label>Nombre y apellidos:</label>
                            <input class="form-control" placeholder="Andrés González">
                        </div>
                            <div class="form-group">
                                <label>Correo electrónico (para respuesta):</label>
                                <input class="form-control" placeholder="nombre@dominio.com">
                            </div>
                        <div class="form-group">
                            <label>Mensaje:</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary">Enviar</button>
                    </form>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.banner -->

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#inicio">Inicio</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#agrupaciones">Agrupaciones</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contacto">Contacto</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">
                            SINEM Mata de Plátano &copy; 2016
                            <script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>
                            , Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
