doctype html
html
  head
    if locals.title
      title= title
    else
      title Simapla Digital

    // Viewport mobile tag for sensible mobile support
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    // STYLES

    // Bootstrap Core CSS
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/vendor/metisMenu/metisMenu.min.css", rel="stylesheet")

    // Custom CSS
    link(href="/dist/css/sb-admin-2.css", rel="stylesheet")

    // Custom Fonts
    link(href="/vendor/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")

    // jQuery
    script(src="/js/jquery.js")

    block styles

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    | <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    | <![endif]-->
    // STYLES END

  body
    block body


    // SCRIPTS


    // Bootstrap Core JavaScript
    script(src="/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js")

    block scripts

    // SCRIPTS END
