extends layout

block content
  div.container
    h1= title
    hr
    div.row
      form
        div.col-sm-4.col-sm-offset-4.text-center
          a#ingresar(href='login') Ingresar a la plataforma
          span &nbsp;|&nbsp;
          a#solicitar-usuario(href='signup') Solicitar Usuario
    hr
