<a name="agrupaciones"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Orquesta Pilar Jiménez</h2>
        <p class="lead">Es el conjunto principal de la sede, incluyendo gran variedad de instrumentos de viento, de madera y percusión. Tiene un repertorio basado en grandes compositores e integrantes de edades entre 12 y 21.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="/assets/img/pilarJimTeatro.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Camerata</h2>
        <p class="lead">La agrupación de la camerata interpreta música de cámara arreglada para violines, violas, violoncellos y contrabajos. Una de sus principales presentaciones, son las 4 estaciones de Vivaldi.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="/assets/img/camerata.png" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->
