<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a
        class="navbar-brand topnav" href="/"> Simapla Digital</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="login">Iniciar Sesión</a>
        </li>
        <li><a href="#agrupaciones">Agrupaciones</a></li>
        <li><a href="#contacto">Contacto </a></li>
        <li><a href="registro">Registro</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->
<a name="inicio"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Simapla Digital</h1>
          <h3>SINEM Mata de Plátano</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://www.facebook.com/sinemmataplatano" class="btn btn-default btn-lg">
                <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span>
              </a>
            </li>
            <li>
              <a href="http://www.sinem.go.cr/" class="btn btn-default btn-lg">
                <fa name="asterisk" fixed="true"></fa> <span class="network-name">SINEM Nacional</span>
              </a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->
